# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 897746904c7c927007e29349cff6c1bc729a61c7db8567d352f0de85c769ed3bc7d849a107fb2bc866abf3c554d17c79f5d1e6dd519d5fdb2993e2ceff976ba8

test:
  secret_key_base: a70f184da2f4321dbd38e9483ae9ec656a12fa93001f469b7c926aa5c8628e47302d1dd0f67ea45105410cefceb2a58121c4a872c29905f8a72389684207f801

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
