<div class="header1 po-relative">
    <div class="container">
        <nav class="navbar navbar-expand-lg h1-nav">
            <%= link_to image_tag('logo-tc-black.svg', alt:'TIAGOCORTEZI.com.br', height:'30'), root_path, class: "navbar-brand" %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="header1">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active"><a class="nav-link" href="#">SOBRE</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">VIDEO ACADEMY</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">BLOG</a></li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="h1-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADMIN <i class="fa fa-angle-down m-l-5"></i>
            </a>
                        <ul class="b-none dropdown-menu animated fadeInUp">
                            <li><a class="dropdown-item" href="#">EDITAR BLOG</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="#">EDITAR VIDEOS</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a class="dropdown-item" href="#">PAINEL</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </nav>
    </div>
</div>